table.schedule {
  font-family: Roboto, 黑體-繁, 微軟正黑體, sans-serif;
  table-layout: fixed;
  text-align: center;

  /* width: 700px !important; */
}

.schedule th, .schedule td {
  border-bottom: 1px #fff solid;

  line-height: 2rem;
  font-size: 1.1rem;
}